*~
.DS_Store
*.IMD
*.IDM
*.log
**/logs
*.html
*.txt
*.csv
Project.lock
ProjectOverview.sdf
Custom Functions.ILB/
Equations.ILB/
Exceptional Exceptions*/
Exports.ILB/
Import Definitions.ILB/
#Macros.ILB/
Other.ILB/
Results.ILB/
SmartAnalyzer.ILBX/
Source Files.ILB/
Visualization.ILB/
